.nx-blog-post-page {
    display: flex;
    flex-direction: column;
    gap: var(--space-between-groups);
    max-inline-size: var(--layout-width-prose);
}

.nx-blog-post-page__rule {
    max-inline-size: calc(var(--layout-width-prose) / 2);
}
