.nx-site-footer-column {
    --navigation-list-gap: var(--space-between-content);

    display: flex;
    flex-direction: column;
    gap: var(--space-between-text);
    font-size: var(--font-size-small);
}

.nx-site-footer-column__heading {
    color: var(--color-text-accent);
    font-family: var(--font-family-handwriting);
    font-size: var(--font-size-lead);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-subheading);
    text-transform: lowercase;
}
