.nx-site-footer-column {
    display: flex;
    flex-direction: column;
    gap: var(--space-between-text);
}

.nx-site-footer-column__heading {
    color: var(--color-text-accent);
    font-family: var(--font-family-handwriting);
    font-weight: var(--font-weight-regular);
    text-transform: lowercase;
}
