.nx-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--space-between-content) var(--space-between-groups);
    font-size: var(--font-size-lead);
    font-weight: var(--font-weight-semi-bold);
}

.nx-pagination__link {
    display: inline-flex;
    align-items: center;
    gap: var(--space-between-text);
}
