.nx-skill-tile {
    --skill-tile-size: calc(1.5 * var(--space-between-regions));

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-between-text);
    font-size: var(--font-size-small);
    line-height: var(--line-height-subheading);
    text-align: center;
}

.nx-skill-tile__logo {
    display: grid;
    place-items: center;
    inline-size: var(--skill-tile-size);
    block-size: var(--skill-tile-size);
    border: var(--border-width-standout) solid var(--color-border);
    border-radius: var(--radius-medium);
    background-color: var(--color-background-surface);
    font-size: calc(1.3 * var(--font-size-h4));
}
