.nx-privacy-page {
    display: flex;
    flex-direction: column;
    gap: var(--space-between-blocks);
    max-inline-size: var(--layout-width-prose);
    margin-block-start: var(--space-below-heading);
}
