.nx-stack--gap-between-text {
    --stack-gap: var(--space-between-text);
}

.nx-stack--gap-between-content {
    --stack-gap: var(--space-between-content);
}

.nx-stack--gap-between-blocks {
    --stack-gap: var(--space-between-blocks);
}

.nx-stack--gap-between-groups {
    --stack-gap: var(--space-between-groups);
}

.nx-stack--gap-between-regions {
    --stack-gap: var(--space-between-regions);
}

.nx-stack--gap-between-sections {
    --stack-gap: var(--space-between-sections);
}
