.nx-components-page__column {
    display: flex;
    flex-direction: column;
    gap: var(--space-between-text);
}

.nx-components-page__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-between-text);
    inline-size: calc(4 * var(--space-between-groups));
    font-family: var(--font-family-code);
    font-size: var(--font-size-meta);
    text-align: center;

    & .nx-icon {
        font-size: var(--font-size-h3);
    }
}
