.nv-navigation-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    font-weight: var(--font-weight-semi-bold);
    list-style: none;
}

.nv-navigation-list__item {
    display: flex;
    align-items: center;
}

.nv-navigation-list--row {
    flex-direction: row;
    gap: var(--space-between-groups);

    & .nv-navigation-list__item {
        min-block-size: var(--size-action-minimum);
    }
}

.nv-navigation-list--column {
    flex-direction: column;
    gap: var(--space-between-text);
}

.nv-navigation-list--menu {
    flex-direction: column;
    border-block: var(--border-width-standout) solid var(--color-border);
    font-size: var(--font-size-lead);

    & .nv-navigation-list__item {
        min-block-size: calc(var(--size-action-minimum) + var(--space-between-text));
        border-block-end: var(--border-width-default) dashed var(--color-border);

        &:last-child {
            border-block-end: none;
        }
    }
}
