.nv-navigation--row {
    --navigation-list-direction: row;
    --navigation-list-gap: var(--space-between-groups);
    --navigation-list-item-block-size: var(--size-action-minimum);
}

.nv-navigation--stacked {
    --navigation-list-direction: column;
    --navigation-list-gap: 0;
    --navigation-list-item-block-size: calc(var(--size-action-minimum) + var(--space-between-text));
    --navigation-list-item-divider: var(--border-width-default) dashed var(--color-border);

    border-block: var(--border-width-standout) solid var(--color-border);
    font-size: var(--font-size-lead);
}
