.nx-about-introduction {
    align-items: start;
    gap: var(--space-between-regions) calc(2 * var(--space-between-groups));
}

.nx-about-introduction__text {
    max-inline-size: 62ch;
}

.nx-about-introduction__photo {
    justify-self: center;
    inline-size: min(100%, calc(var(--layout-width-prose) / 2));
}
